@charset "UTF-8";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

section {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	position: relative;
}

#home > header {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	height: 50px;
	background-color: #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	max-width: 1200px;
	width: 100%;
	z-index: 9999;
}

#home > header > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	cursor: pointer;
}

#home > header > ul > li {
	transition: all 0.5s ease-in-out;
}

#home > header > ul > li.active {
	color: blue;
	font-size: 18px;
}

#home > h2,
#content1,
#content2,
#content3 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #eee;
	font-size: 30px;
}
#content1 {
	background-color: #333;
}

#content2 {
	background-color: #444;
}

#content3 {
	background-color: #555;
}
